/**{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
*/
.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}


.img-header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}



#logo{
    float:left;
}

#welcome-txt{
    float:left;
    margin-top: 12px;
    color: wheat;
}



#bg-img{
    transform: translateZ(-10px) scale(2);

}

#fg-img{
    transform: translateZ(-5px) scale(1.5);

}

#fg-img,
#bg-img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.false-text{
    background-color: black;
    color: white;
    padding: 2px;
    
}

